/* Mobile Styles */
@media only screen and (max-width: 400px) {
  .about {
    display: none;
    padding: 30px;
    z-index: 9;
    text-align: left;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(150,200,200,1), rgba(0,0,0,0));
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .about {
    display: none;
    padding: 30px;
    z-index: 9;
    text-align: left;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(150,200,200,1), rgba(0,0,0,0));
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  #draggable_div {
    display: none;
    position: absolute;
    padding: 30px;
    z-index: 9;
    text-align: left;
    height: 70%;
    width: 30%;
    background-image: linear-gradient(rgba(150,200,200,1), rgba(0,0,0,0));
  }

  #draggable_div_header {
    text-align: center;
    height, width: 200px;
    padding: 10px;
    cursor: move;
    z-index: 10;
    color: black;
  }
}

body {
  background-position: center;
  font-family: 'Roboto', sans-serif;
  color: black;
}
h1 {
  font-weight: 700;
  font-size: 5em;
}

html {
  height: 100%;
}

canvas{
    position: absolute;
    z-index: -1;
  }
