
body {
  background-position: center;
  font-family: 'Roboto', sans-serif;
  color: black;
}
h1 {
  font-weight: 700;
  font-size: 5em;
}

html {
  height: 100%;
}

canvas{
    position: absolute;
    z-index: -1;
  }

#draggable_div {
  display: none;
  position: absolute;
  padding: 30px;
  z-index: 9;
  border: 1px solid black;
  text-align: left;
  height: 40%;
  width: 40%;
}

#draggable_div_header {
  padding: 30px;
  cursor: move;
  z-index: 10;
  color: black;
}
