body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    background: black;
}

#loadOverlay {
    display: none;
}

.border {
    background: black;
    -webkit-clip-path: inset(0% 0% 0% 0%);
    clip-path: inset(0% 0% 0% 0%);
    overflow: hidden;
    z-index: 5;
    border: 4px solid #FFFFFF;
}

p {
    color: white;
}

.container {
    width: 100%;
    height: 100%;
    justify-items: center;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 40fr 1fr 5fr;
    gap: 8px 8px;
    grid-template-areas:
        "screen screen screen"
        ". textDisplay ."
        "back play forward";
}

.back {
    grid-area: back;
    z-index: 10;
    border: 4px solid #FFFFFF;
    width: 100%;
    text-align: center;
}

.forward {
    grid-area: forward;
    z-index: 10;
    border: 4px solid #FFFFFF;
    width: 100%;
    text-align: center;
}

.play {
    grid-area: play;
    z-index: 10;
    border: 4px solid #FFFFFF;
    width: 100%;
    text-align: center;
}

.textDisplay {
    grid-area: textDisplay;
    z-index: 10;
    animation: slide-left 10s linear infinite;
    overflow: hidden;
    text-align: center;
}

@keyframes slide-left {
    0% {
        transform: translate(50%, 0);
    }

    100% {
        transform: translate(-50%, 0);
    }
}

.screen {
    grid-area: screen;
    width: 100%;
    height: 100%;
}

button {
    background: rgb(50, 50, 50);
    border: 2px solid #FFFFFF;
}

#shape1,
#shape2,
#shape3,
#shape4,
#shape5 {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    transition: 0.1s;
    transition-property: transform;
    filter: opacity(0);
}

/* ------------------ Useful ------------- */
.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently */
    /* supported by Chrome, Edge, Opera and Firefox */
}

.disableSave {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    user-select: none;
}