body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    /* background-color: rgb(15, 15, 15); */
    background: black;
    background: -moz-radial-gradient(center, black 0%, rgb(30, 30, 30) 50%, rgb(35, 35, 35) 100%);
    background: -webkit-radial-gradient(center, black 0%, rgb(30, 30, 30) 50%, rgb(35, 35, 35) 100%);
    background: radial-gradient(ellipse at center, black 0%, rgb(30, 30, 30) 50%, rgb(35, 35, 35) 100%);
}

#loadOverlay{display: none;}

.border {
    background: black;
    background: -moz-radial-gradient(center, black 0%, rgb(10, 10, 10) 50%, rgb(25, 25, 25) 100%);
    background: -webkit-radial-gradient(center, black 0%, rgb(10, 10, 10) 50%, rgb(25, 25, 25) 100%);
    background: radial-gradient(ellipse at center, black 0%, rgb(10, 10, 10) 50%, rgb(25, 25, 25) 100%);
    -webkit-clip-path: inset(5% 5% 1% 5%);
    clip-path: inset(5% 5% 1% 5%);
    overflow: hidden;
    z-index: 5;
}

p {
    color: white;
}

.container {
    width: 100%;
    height: 100%;
    justify-items: center;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 40fr 1fr 5fr;
    gap: 0px 0px;
    grid-template-areas:
        "screen screen screen"
        ". textDisplay ."
        "back play forward";
}

.back {
    grid-area: back;
    z-index: 10;
}

.forward {
    grid-area: forward;
    z-index: 10;
}

.play {
    grid-area: play;
    z-index: 10;
}

.textDisplay {
    grid-area: textDisplay;
    z-index: 10;
}

.screen {
    grid-area: screen;
    width: 100%;
    height: 100%;
}

button {
    background: rgb(50, 50, 50);
    border: 2px solid #FFFFFF;
}

#shape1, #shape2, #shape3, #shape4, #shape5 {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    right: 30%;
    transform-style: preserve-3d;
}

/* ------------------ Useful ------------- */
.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently */
    /* supported by Chrome, Edge, Opera and Firefox */
}

.disableSave {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    user-select: none;
}